# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Environment variables
.env

# SQLite databases (remove if you WANT to upload DB)
*.sqlite3
*.db

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Mypy
.mypy_cache/

# Temporary files
*.tmp
*.swp